@model taha0025lab4.Models.Movie
@{
    ViewData["Title"] = "EditMovie";
}

@using (Html.BeginForm("ModifyMovie", "Home"))
{
    <div class="container">
        <h2>Edit Movie</h2>
        <form method="post" action="/Home/ModifyMovie">
            <input type="hidden" value="@Model.MovieId" name="MovieId" />
            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" class="form-control" id="Title" data-val="true" data-val-length="The field Title must be a string with a maximum length of 1000." data-val-length-max="1000" data-val-required="The Title field is required." name="Title" value="@Model.Title" />
            </div>
            <div class="form-group">
                <label for="subtitle">SubTitle</label>
                <input type="text" class="form-control" id="subtitle" data-val="true" data-val-length="The field SubTitle must be a string with a maximum length of 1000." data-val-length-max="1000" data-val-required="The SubTitle field is required." name="SubTitle" value="@Model.SubTitle" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" rows="10" class="form-control" id="description" data-val="true" data-val-length="The field Description must be a string with a maximum length of 1000." data-val-length-max="1000" data-val-required="The Description field is required." name="Description" value="@Model.Description">@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="date" class="form-control" id="year" data-val="true" data-val-required="The Year field is required." name="Year" value="@Model.Year" />
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="number" class="form-control" id="rating" data-val="true" data-val-range="The field Rating must be between 1 and 5." data-val-range-max="5" data-val-range-min="1" data-val-required="The Rating field is required." name="Rating" value="@Model.Rating" />
            </div>
            <br />
            <button type="submit" class="btn btn-default">Edit Movie</button>
            <br /><br /><br />
        </form>
    </div>
}